
----

# Ćwiczenia 3. Złożone typy danych
---


----

## Zad 1
---

 Stwórz listę liczb całkowitych zawierającą liczby od 1 do 5, a następnie wykorzystaj *append* by dodać do niej nowy element - liczbę 6.


----

## Zad 2
---

Stwórz listę liczb parzystych od 2 do 20, podzielnych przez 4, korzystając z polecenia range. Następnie wyświetl tę listę w odwrotnej kolejności.


----

## Zad 3
---

Stwórz listę zawierającą kilka słów. Następnie napisz funkcję, która przyjmuje tę listę i zwraca nową listę, w której wszystkie słowa mają być zapisane wielkimi literami.


----

## Zad 4
---


Stwórz słownik o nazwie informacje_osobowe zawierający informacje o osobie, takie jak imię, nazwisko, wiek i zawód. Następnie napisz program, który wyświetli te informacje na ekranie w formie:

```
Imię: [imię]
Nazwisko: [nazwisko]
Wiek: [wiek]
Zawód: [zawód]
```


----

## Zad 5
---

Połącz dwa słowniki

Wejście:
```
dict1 = {'Dziesiec': 10, 'Dwadziescia': 20, 'Trzydziesci': 30}
dict2 = {'Trzydziesci': 30, 'Czterdziesci': 40, 'Piecdziesiat': 50}
```


----

## Zad 6
---

Podaj klucz najmniejszej wartości w słowniku
```
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
```


----

## Zad 7
---

Zdefiniuj funkcje która policzy cenę koszyka na podstawie cen jednostkowych i ilości towarów
```
koszyk = {
    "banany": 6,
    "jablka": 0,
    "pomarancze": 32,
    "gruszki": 15
}
ceny = {
    "banany": 4,
    "jablka": 2,
    "pomarancze": 1.5,
    "gruszki": 3
```


----

## Zad 8
---

Stwórz listę, która zawiera powtarzające się elementy. Napisz funkcję, która usuwa duplikaty z listy i zwraca nową listę bez powtórzeń.

```
lista_z_powtorzeniami = [1, 2, 3, 1, 2, 4, 5, 3, 6, 7, 8, 4, 9, 10, 7]
```


----

## Zad 9
---

Stwórz listę owoców: Jabłko, Banan, Kiwi, Pomarańcza.

- Korzystając z metody append dodaj do listy Gruszkę.
- Korzystając z metody extend dodaj do listy Mango i Ananasa.
- Posortuj alfabetycznie owoce.
- Wypisz na ekranie:
    - trzeci owoc na liście
    - dwa pierwsze owoce na liście
    - dwa ostatnie owoce na liście
- Usuń wszystkie Kiwi z listy.
- Korzystając z funkcji len sprawdź liczbę owoców.
- Z ostatecznej listy owoców utwórz krotkę.


----

## Zad 10
---

Wykonaj polecenia:
- Korzystając z `range` utwórz listę zawierającą wszystkie wielokrotności liczby 3 mniejsze od 100.
- Korzystając z `del` usuń co trzeci element (zaczynając od piątego).
- Sprawdź definicję funkcji wbudowanej *sum* (`help(sum)`). Wykorzystaj ją oraz funkcję *len*, aby wyliczyć średnią arytmetyczną otrzymanej listy.

----

## Zad 11
---


Stwórz listę uczniów: Jan, Kasia, Marek, Basia.

- Stwórz drugą listę, która będzie przechowywała oceny odpowiadające każdemu uczniowi. Na początku będą to puste listy ocen.
- Dodaj oceny dla każdego ucznia (możesz użyć dowolnych ocen np. 4.5, 3.0, 5.0).
- Wydrukuj na ekranie:
    - Ucznia, oceny i średnią ocen
    - Ucznia, wszystkie oceny i najwyższą ocenę
    - Ucznia, wszystkie oceny i najniższą ocenę
- Dodaj oceny dla nowego ucznia, np. Ani.
- Wydrukuj na ekranie informacje o nowym uczniu, jego ocenach i średniej ocen.

----

## Wyniki zadań
---

<b>Zad 1</b>

[1, 2, 3, 4, 5, 6]

<b>Zad 2</b>

- Oryginalna lista: [4, 8, 12, 16, 20]
- Lista w odwrotnej kolejności: [20, 16, 12, 8, 4]

<b>Zad 3</b>

- Oryginalna lista: ['jabłko', 'gruszka', 'banan', 'pomidor', 'arbuz']
- Nowa lista z wielkimi literami: ['JABŁKO', 'GRUSZKA', 'BANAN', 'POMIDOR', 'ARBUZ']

<b>Zad 5</b>

Połączony słownik: {'Dziesiec': 10, 'Dwadziescia': 20, 'Trzydziesci': 30, 'Czterdziesci': 40, 'Piecdziesiat': 50}

<b>Zad 6</b>

Klucz najmniejszej wartości: Math

<b>Zad 7</b>

Cena koszyka: 117.0

<b>Zad 8</b>

- Oryginalna lista: [1, 2, 3, 1, 2, 4, 5, 3, 6, 7, 8, 4, 9, 10, 7]
- Lista bez duplikatów: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


<b>Zad 9</b>

- Posortowane owoce: ['Ananas', 'Banan', 'Gruszka', 'Jabłko', 'Kiwi', 'Mango', 'Pomarańcza']
- Trzeci owoc na liście: Gruszka
- Dwa pierwsze owoce na liście: ['Ananas', 'Banan']
- Dwa ostatnie owoce na liście: ['Mango', 'Pomarańcza']
- Liczba owoców po usunięciu Kiwi: 6
- Krotka owoców: ('Ananas', 'Banan', 'Gruszka', 'Jabłko', 'Mango', 'Pomarańcza')

<b>Zad 10</b>

Lista wielokrotności 3: [3, 6, 9, 12, 18, 21, 27, 30, 36, 39, 45, 48, 54, 57, 63, 66, 72, 75, 81, 84, 90, 93, 99]
Suma: 1128
Średnia arytmetyczna: 49.04347826086956

<b>Zad 11</b>

Jan: Oceny: [4.5, 3.0, 5.0] Średnia: 4.166666666666667 Najwyższa: 5.0 Najniższa: 3.0
Kasia: Oceny: [3.5, 4.0, 4.5] Średnia: 4.0 Najwyższa: 4.5 Najniższa: 3.5
Marek: Oceny: [5.0, 4.0, 3.5] Średnia: 4.166666666666667 Najwyższa: 5.0 Najniższa: 3.5
Basia: Oceny: [4.0, 4.5, 3.5] Średnia: 4.0 Najwyższa: 4.5 Najniższa: 3.5

Ania: Oceny: [4.0, 3.5, 5.0] Średnia: 4.166666666666667 Najwyższa: 5.0 Najniższa: 3.5